@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  src: url("../font/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  src: url("../font/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  src: url("../font/IBMPlexSans-Bold.ttf");
}

body {
  background-color: #ffffff;
  color: #141414;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: block;
  outline: none;
  cursor: pointer;
  color: #141414;
  text-align: center;
  font-weight: 700;
}

a:hover {
  opacity: 0.8;
  transition: 0.8s ease;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.header-inner {
  position: relative;
  width: 98%;
  margin: 0 auto;
  max-width: 1360px;
}

.sec-inner {
  width: 98%;
  margin: 0 auto;
  max-width: 1110px;
}

.sec-btn {
  background-color: #ff8364;
  width: 140px;
  padding: 10px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid transparent;
}

.sec-btn:hover {
  background-color: #ffffff;
  color: #ff8364;
  border: 1px solid #ff8364;
}

.sec-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

/*Main Section
================= */

.main-sec {
  position: relative;
  padding: 36px 0 157px;
  background: url("../img/img_main_sec_bg.png") no-repeat center/cover;
}

.main-sec .header-logo {
  width: 209px;
  float: left;
}

.main-sec .g-nav {
  float: right;
  padding-top: 13px;
}

.main-sec .g-nav ul {
  float: left;
}

.main-sec .g-nav ul li {
  float: left;
  margin-right: 60px;
  padding: 8px 0;
}

.main-sec .g-nav .sec-btn {
  float: right;
  width: 120px;
  padding: 8px 0;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-sec .main-content {
  padding-top: 106px;
  text-align: center;
  margin: 0 auto;
}

.main-content img {
  width: 58px;
}

.main-sec .main-content .main-title {
  padding-top: 35px;
  line-height: 1.2;
  font-size: 64px;
  font-weight: 500;
}

.pc-view {
  display: block;
}

.mb-view {
  display: none;
}

.main-sec .main-content .main-desc {
  padding-top: 6px;
  font-size: 20px;
  line-height: 1.5;
}

.main-sec .main-content a {
  margin: 0 auto;
  margin-top: 26px;
}

/*Second Link Section
======================= */

.sec02-link {
  background-color: #f3f3f3;
  padding: 114px 0 102px;
}

.sec02-link .sec-title {
  text-align: start;
}

.sec02-link .sec02-content .sec02-desc {
  float: left;
  width: 635px;
  padding-top: 33px;
}

.sec02-link .sec02-content .sec02-desc p {
  font-size: 36px;
  line-height: 1.4;
}

.sec02-link .sec02-content img {
  float: right;
  margin-top: -14px;
}

.sec02-link .sec02-content .learn-more {
  padding-top: 33px;
  text-align: start;
}

.sec02-link .sec02-content .learn-more span {
  font-size: 16px;
  color: #ff8364;
  padding-right: 19px;
}

.sec02-link .learn-more::after {
  content: "";
  background-image: url("../img/img_left_arrow.png");
  background-size: contain;
  display: inline-block;
  width: 14px;
  height: 14px;
}

/*Third Link Section
====================== */
.sec03-link {
  padding: 85px 0 81px;
  border-bottom: 1px solid #d9d9d9;
}

.sec03-link .sec03-sub-ttl {
  padding-top: 10px;
  font-size: 25px;
  color: #ff8364;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sec03-link .sec03-list {
  padding-top: 30px;
  width: 955px;
  margin: 0 auto;
}

.sec03-link .sec03-list li {
  float: left;
  width: 473px;
  margin-right: 57px;
  margin-top: 4px;
}

.sec03-link .sec03-list li:nth-child(2n) {
  margin-right: 0;
  width: 425px;
}

.sec03-link .sec03-list li p {
  font-size: 20px;
  font-weight: 700;
  padding-left: 65px;
  text-transform: capitalize;
  line-height: 1.3;
}

.sec03-link .sec03-list li::before {
  content: "";
  background-image: url("../img/img_start.png");
  background-size: contain;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  top: 40px;
}

/*Fourth Link Section
====================== */
.sec04-link {
  padding: 86px 0 80px;
}

.sec04-link .sec04-list {
  padding-top: 48px;
}

.sec04-link .sec04-list li {
  background-color: #f3f3f3;
  border-radius: 8px;
  float: left;
  margin-right: 30px;
  text-align: center;
  padding-bottom: 34px;
}

.sec04-link .sec04-list li img {
  width: 255px;
}

.sec04-link .sec04-list li:nth-child(4n) {
  margin-right: 0;
}

.sec04-link .sec04-list li .sec04-txt01 {
  color: #616161;
  padding-top: 37px;
  font-size: 12px;
  text-transform: uppercase;
}

.sec04-link .sec04-list li .sec04-txt02 {
  padding-top: 5px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 700;
}

/* Fith Link Section
===================== */
.sec05-link {
  padding: 84px 0 100px;
  background-color: #fcfcfc;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}

.sec05-link .sec05-list {
  padding: 57px 0 80px 0;
}

.sec05-link .sec05-list li {
  float: left;
  width: 350px;
  margin: 0 30px 30px 0;
}

.sec05-link .sec05-list li:nth-child(3n) {
  margin-right: 0;
}

.sec05-link .sec05-desc {
  padding-top: 18px;
  font-size: 18px;
  line-height: 1.7;
  color: #616161;
}

.sec05-link .sec05-name {
  padding-top: 58px;
  font-size: 20px;
  font-weight: 700;
}

.sec05-link .sec05-name::before {
  content: "";
  display: block;
  background-color: #ff8364;
  width: 65px;
  height: 4px;
  margin: 0 auto;
  position: relative;
  top: -14px;
}

.sec05-link .sec05-position {
  padding-top: 5px;
  color: #616161;
}

/*Map and Feedback
=================== */
.sec05-info {
  padding-top: 70px;
}

.sec05-info .map-wrapper {
  position: relative;
  float: left;
}

.sec05-info .map-wrapper iframe {
  width: 605px;
  height: 490px;
  border-radius: 8px;
}

.sec05-info .map-wrapper .contact {
  position: absolute;
  background-color: #ffffff;
  width: 545px;
  padding: 32px 30px;
  border-radius: 8px;
  left: 30px;
  right: 30px;
  bottom: 30px;
}

.contact h6 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: start;
}

.contact a {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: #616161;
  text-align: start;
  padding-top: 2px;
}

.sec05-info .contact-left {
  float: left;
  width: 225px;
  text-align: start;
}

.sec05-info .contact-right {
  float: right;
  width: 225px;
  text-align: start;
}

.contact-right .email {
  padding-bottom: 28px;
}

.contact-right .email a {
  color: #ff8364;
}

.feedback-wrapper {
  padding-top: 19px;

  float: right;
  width: 445px;
  text-align: start;
}

.feedback-wrapper h4 {
  letter-spacing: 0.6px;
  font-size: 35px;
  font-weight: 500;
}

.feedback-wrapper p {
  padding-top: 8px;
  line-height: 1.5;
}

.feedback-wrapper form {
  padding-top: 30px;
}

.feedback-wrapper form input,
.feedback-wrapper form input:focus {
  width: 313px;
  margin-bottom: 32px;
  font-family: "IBM Plex Sans";
  background-color: #f3f3f3;
  padding: 8px 20px;
  border: transparent;
  outline: none;
  font-size: 16px;
  border-radius: 8px;
  display: block;
}

.feedback-wrapper form button {
  cursor: pointer;
  padding: 11px 0;
  margin-top: -4px;
}

/*Footer Section
================= */
.footer {
  padding: 71px 0 74px;
}

.footer .footer-logo {
  width: 233px;
  float: left;
}

.footer-logo a {
  text-align: start;
}

.footer-logo p {
  font-size: 12px;
  color: #616161;
  padding-top: 30px;
  line-height: 1.5;
}

.footer .footer-cats {
  width: 730px;
  float: right;
}

.footer .cat-item {
  padding-top: 10px;
  float: left;
  width: 160px;
  margin-right: 30px;
}

.footer .cat-item:nth-child(4) {
  margin-right: 0;
}

.footer .cat-item h4 {
  font-size: 20px;
  font-weight: 700;
}

.footer .cat-item ul li {
  padding-top: 8px;
  line-height: 1.6;
}

.footer .cat-item ul li a {
  font-size: 16px;
  font-weight: 400;
  color: #616161;
  text-align: start;
}

/*======================
    iPad Screen Size
========================= */

@media screen and (min-width: 768px) and (max-width: 1100px) {
  body {
    font-size: 2.083vw;
    max-width: 250vw;
  }

  .sec-btn {
    width: 18.229vw;
    padding: 1.302vw 0;
    font-size: 2.344vw;
    border-radius: 1.042vw;
  }

  .sec-btn:hover {
    border: 0.13vw solid #ff8364;
  }

  .sec-inner {
    width: 89.583vw;
  }

  .sec-title {
    font-size: 5.208vw;
  }

  .main-sec {
    padding: 4.688vw 0 15.365vw;
  }

  .main-sec .header-logo {
    width: 27.214vw;
  }

  .main-sec .header-inner {
    max-width: 89.583vw;
    width: 100%;
  }

  .main-sec .g-nav {
    float: none;
    padding: 12.5vw 0 4.688vw;
    background-color: rgb(255, 255, 255, 0.8);
    position: fixed;
    top: -127.604vw;
    left: 0;
    right: 0;
  }

  .main-sec .g-nav ul {
    float: none;
  }

  .main-sec .g-nav ul li {
    float: none;
    margin-right: 0;
    padding: 1.042vw 0;
    margin-bottom: 1.693vw;
  }

  .main-sec .g-nav .sec-btn {
    float: none;
    margin: 0 auto;
    margin-top: 2.214vw;
    width: 15.625vw;
    padding: 1.042vw 0;
    border-radius: 0.521vw;
    font-size: 1.823vw;
  }

  .main-sec .menu-toggle {
    position: absolute;
    width: 5.599vw;
    height: 4.167vw;
    top: 0.521vw;
    right: -0.182vw;
    cursor: pointer;
  }

  .main-sec .menu-toggle span {
    position: absolute;
    background-color: #141414;
    width: 5.599vw;
    height: 0.391vw;
    transition: 0.8s ease;
  }

  .main-sec .menu-toggle span:nth-child(1) {
    top: 0;
  }

  .main-sec .menu-toggle span:nth-child(2) {
    top: 1.953vw;
    transition: 1.2s ease;
  }

  .main-sec .menu-toggle span:nth-child(3) {
    top: 3.906vw;
  }

  .main-sec .menu-toggle.active {
    transform: rotate(180deg);
    transition: 0.8s ease;
  }

  .main-sec .menu-toggle.active span:nth-child(1) {
    transform: translateY(1.953vw) rotate(-45deg);
  }

  .main-sec .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .main-sec .menu-toggle.active span:nth-child(3) {
    transform: translateY(-1.953vw) rotate(45deg);
  }

  .main-sec .main-content {
    padding-top: 13.802vw;
  }

  .main-content img {
    width: 7.552vw;
  }

  .main-sec .main-content .main-title {
    padding-top: 4.557vw;
    font-size: 8.333vw;
  }

  .main-sec .main-content .main-desc {
    padding-top: 0.781vw;
    font-size: 2.604vw;
  }

  .main-sec .main-content a {
    margin-top: 3.385vw;
  }

  /*Second Link Section(iPad-View)
=================================== */

  .sec02-link {
    padding: 10.938vw 0 10.156vw;
  }

  .sec02-link .sec02-content {
    text-align: center;
  }

  .sec02-link .sec02-content .sec02-desc {
    float: none;
    text-align: start;
    width: 82.682vw;
    padding-top: 4.427vw;
  }

  .sec02-link .sec02-content .sec02-desc p {
    font-size: 4.688vw;
    line-height: 1.4;
  }

  .sec02-link .sec02-content img {
    margin-top: 9.245vw;
    float: none;
    width: 72.396vw;
  }

  .sec02-link .sec02-content .learn-more {
    padding-top: 3.906vw;
  }

  .sec02-link .sec02-content .learn-more span {
    font-size: 2.083vw;
    padding-right: 2.474vw;
  }

  .sec02-link .learn-more::after {
    width: 1.823vw;
    height: 1.823vw;
  }

  /*Third Link Section(iPad View)
================================== */
  .sec03-link {
    padding: 11.458vw 0 10.677vw;
    border-bottom: 0.13vw solid #d9d9d9;
  }

  .sec03-link .sec03-sub-ttl {
    padding-top: 1.302vw;
    font-size: 3.255vw;
    letter-spacing: 0.13vw;
  }

  .sec03-link .sec03-list {
    padding-top: 2.604vw;
    width: 100%;
    margin: 0 auto;
  }

  .sec03-link .sec03-list li {
    float: none;
    width: 100%;
    margin: 0;
  }

  .sec03-link .sec03-list li:nth-child(2n) {
    margin-right: 0;
    width: 100%;
  }

  .sec03-link .sec03-list li p {
    font-size: 2.604vw;
    font-weight: 700;
    padding-left: 8.464vw;
    line-height: 1.3;
  }

  .sec03-link .sec03-list li::before {
    width: 5.208vw;
    height: 5.208vw;
    top: 5.208vw;
  }

  /*Fourth Link Section
======================== */
  .sec04-link {
    padding: 11.328vw 0 5.339vw;
  }

  .sec04-link .sec04-list {
    width: 71.615vw;
    margin: 0 auto;
    padding-top: 4.557vw;
  }

  .sec04-link .sec04-list li {
    border-radius: 1.042vw;
    padding-bottom: 4.427vw;
    margin: 0 5.208vw 5.078vw 0;
  }

  .sec04-link .sec04-list li:nth-child(2n) {
    margin-right: 0;
  }

  .sec04-link .sec04-list li img {
    width: 33.203vw;
  }

  .sec04-link .sec04-list li .sec04-txt01 {
    padding-top: 4.818vw;
    font-size: 1.563vw;
  }

  .sec04-link .sec04-list li .sec04-txt02 {
    padding-top: 0.651vw;
    font-size: 2.083vw;
    font-weight: 700;
  }

  /* Fith Link Section
===================== */
  .sec05-link {
    padding: 10.938vw 0 10.417vw;
  }

  .sec05-link .sec05-list {
    padding-top: 4.818vw;
  }

  .sec05-link .sec05-list li {
    float: left;
    width: 42.188vw;
    margin-right: 5.208vw;
    margin-bottom: 6.901vw;
  }

  .sec05-link .sec05-list li img {
    width: 10.417vw;
  }

  .sec05-link .sec05-list li:nth-child(2) {
    width: 42.057vw;
    margin-right: 0;
  }

  .sec05-link .sec05-list li:nth-child(3) {
    width: 44.792vw;
  }

  .sec05-link .sec05-desc {
    padding-top: 2.474vw;
    font-size: 2.344vw;
    line-height: 1.7;
  }

  .sec05-link .sec05-name {
    padding-top: 7.552vw;
    font-size: 2.604vw;
    font-weight: 700;
  }

  .sec05-pc {
    padding-top: 3.516vw !important;
  }

  .sec05-link .sec05-name::before {
    width: 8.464vw;
    height: 0.521vw;
    top: -1.823vw;
  }

  .sec05-link .sec05-position {
    padding-top: 0.651vw;
  }

  /*Map and Feedback
  =================== */
  .sec05-info {
    padding-top: 3.646vw;
  }

  .sec05-info .map-wrapper iframe {
    width: 44.792vw;
    height: 63.802vw;
    border-radius: 1.042vw;
  }

  .sec05-info .map-wrapper .contact {
    width: 39.583vw;
    padding: 2.604vw;
    border-radius: 1.042vw;
    left: 2.604vw;
    right: 2.604vw;
    bottom: 2.604vw;
  }

  .contact h6 {
    font-size: 1.563vw;
  }

  .contact a {
    font-size: 2.083vw;
    padding-top: 0.521vw;
  }

  .sec05-info .contact-left {
    float: none;
    width: 29.297vw;
    padding-bottom: 2.604vw;
  }

  .sec05-info .contact-right {
    float: none;
    width: 29.297vw;
  }

  .contact-right .email {
    padding-bottom: 2.604vw;
  }

  .feedback-wrapper {
    padding-top: 3.516vw;
    float: right;
    width: 42.188vw;
    text-align: start;
  }

  .feedback-wrapper h4 {
    letter-spacing: 0.078vw;
    font-size: 4.557vw;
    font-weight: 500;
  }

  .feedback-wrapper p {
    padding-top: 0.781vw;
  }

  .feedback-wrapper form {
    padding-top: 3.646vw;
  }

  .feedback-wrapper form input,
  .feedback-wrapper form input:focus {
    width: 40.755vw;
    margin-bottom: 4.167vw;
    padding: 1.042vw 2.604vw;
    font-size: 2.083vw;
    border-radius: 1.042vw;
  }

  .feedback-wrapper form button {
    padding: 1.432vw 0;
    margin-top: -0.521vw;
  }

  /*Footer Section
================= */
  .footer {
    padding: 8.724vw 0 4.557vw;
  }

  .footer .footer-logo {
    width: 30.339vw;
  }

  .footer-logo p {
    font-size: 1.563vw;
    padding-top: 3.906vw;
  }

  .footer .footer-cats {
    width: 45.052vw;
  }

  .footer .cat-item {
    padding-top: 1.302vw;
    width: 20.833vw;
    margin: 0 3.906vw 3.125vw 0;
  }

  .footer .cat-item:nth-child(2n) {
    margin-right: 0;
    width: 19.531vw;
  }

  .footer .cat-item h4 {
    font-size: 2.604vw;
  }

  .footer .cat-item ul li {
    padding-top: 1.042vw;
  }

  .footer .cat-item ul li a {
    font-size: 2.083vw;
  }
}

/*======================
    Mobile Screen Size
========================= */

@media screen and (max-width: 767.9px) {
  body {
    font-size: 2.5vw;
    max-width: 300vw;
  }

  .sec-btn {
    width: 21.875vw;
    padding: 1.563vw 0;
    font-size: 2.813vw;
    border-radius: 1.25vw;
    border: 0.156vw solid transparent;
  }

  .sec-btn:hover {
    border: 0.156vw solid #ff8364;
  }

  .mb-view {
    display: block;
  }

  .sec-title {
    font-size: 6.25vw;
  }

  .sec-inner {
    width: 100%;
    max-width: 90.625vw;
  }

  .main-sec {
    padding: 5.625vw 0 14.063vw;
  }

  .main-sec .header-logo {
    width: 32.656vw;
  }

  .main-sec .header-inner {
    max-width: 90.625vw;
    width: 100%;
  }

  .main-sec .g-nav {
    float: none;
    padding: 15vw 0 5.625vw;
    background-color: rgb(255, 255, 255, 0.8);
    position: fixed;
    top: -153.125vw;
    left: 0;
    right: 0;
  }

  .main-sec .g-nav ul {
    float: none;
  }

  .main-sec .g-nav ul li {
    float: none;
    margin-right: 0;
    padding: 1.25vw 0;
    margin-bottom: 2.031vw;
  }

  .main-sec .g-nav .sec-btn {
    float: none;
    margin: 0 auto;
    margin-top: 2.656vw;
    width: 18.75vw;
    padding: 1.25vw 0;
    border-radius: 0.625vw;
    font-size: 2.188vw;
  }

  .main-sec .menu-toggle {
    position: absolute;
    width: 6.719vw;
    height: 5.156vw;
    top: 0.625vw;
    right: -0.703vw;
    cursor: pointer;
  }

  .main-sec .menu-toggle span {
    position: absolute;
    background-color: #141414;
    width: 6.719vw;
    height: 0.469vw;
    transition: 0.8s ease;
  }

  .main-sec .menu-toggle span:nth-child(1) {
    top: 0;
  }

  .main-sec .menu-toggle span:nth-child(2) {
    top: 2.344vw;
    transition: 1.2s ease;
  }

  .main-sec .menu-toggle span:nth-child(3) {
    top: 4.688vw;
  }

  .main-sec .menu-toggle.active {
    transform: rotate(180deg);
    transition: 0.8s ease;
  }

  .main-sec .menu-toggle.active span:nth-child(1) {
    transform: translateY(2.344vw) rotate(-45deg);
  }

  .main-sec .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .main-sec .menu-toggle.active span:nth-child(3) {
    transform: translateY(-2.344vw) rotate(45deg);
  }

  .main-sec .main-content {
    padding-top: 13.281vw;
  }

  .main-content img {
    width: 9.063vw;
  }

  .main-sec .main-content .main-title {
    padding-top: 2.813vw;
    font-size: 7.031vw;
    line-height: 1.3;
  }

  .main-sec .main-content .pc-view {
    display: none;
  }

  .main-sec .main-content .main-desc {
    padding-top: 2.5vw;
    font-size: 2.813vw;
    line-height: 1.8;
  }

  .main-sec .main-content .pc-view {
    display: none;
  }

  .main-sec .main-content a {
    margin-top: 2.031vw;
  }

  /*Second Link Section(Mobile-View)
===================================== */

  .sec02-link {
    padding: 6.563vw 0 9.063vw;
  }

  .sec02-link .sec02-content {
    text-align: center;
  }

  .sec02-link .sec02-content .sec02-desc {
    float: none;
    text-align: start;
    width: 90.625vw;
    padding-top: 4.063vw;
  }

  .sec02-link .sec02-content .sec02-desc p {
    font-size: 3.906vw;
    line-height: 2;
  }

  .sec02-link .sec02-content img {
    margin-top: 8.594vw;
    float: none;
    width: 86.875vw;
  }

  .sec02-link .sec02-content .learn-more {
    padding-top: 2.031vw;
  }

  .sec02-link .sec02-content .learn-more span {
    font-size: 2.344vw;
    letter-spacing: 0.156vw;
    padding-right: 2.344vw;
  }

  .sec02-link .learn-more::after {
    width: 2.188vw;
    height: 2.188vw;
  }

  /*Third Link Section(Mobile View)
=================================== */
  .sec03-link {
    padding: 10.625vw 0 9.844vw;
    border-bottom: 0.156vw solid #d9d9d9;
  }

  .sec03-link .sec03-sub-ttl {
    padding-top: 3.125vw;
    font-size: 3.906vw;
    letter-spacing: 0.156vw;
  }

  .sec03-link .sec03-list {
    padding-top: 2.813vw;
    width: 100%;
    margin: 0 auto;
  }

  .sec03-link .sec03-list li {
    float: none;
    width: 100%;
    margin: 0;
  }

  .sec03-link .sec03-list li:nth-child(2n) {
    margin-right: 0;
    width: 100%;
  }

  .sec03-link .sec03-list li p {
    font-size: 2.813vw;
    padding-left: 10.156vw;
    line-height: 1.5;
  }

  .sec03-link .sec03-list li::before {
    width: 6.25vw;
    height: 6.25vw;
    top: 6.25vw;
  }

  /*Fourth Link Section
======================== */
  .sec04-link {
    padding: 10.469vw 0 3.281vw;
  }

  .sec04-link .sec04-list {
    width: 85.938vw;
    margin: 0 auto;
    padding-top: 5.469vw;
  }

  .sec04-link .sec04-list li {
    border-radius: 1.094vw;
    padding-bottom: 5.313vw;
    margin: 0 6.25vw 6.094vw 0;
  }

  .sec04-link .sec04-list li:nth-child(2n) {
    margin-right: 0;
  }

  .sec04-link .sec04-list li img {
    width: 39.844vw;
  }

  .sec04-link .sec04-list li .sec04-txt01 {
    padding-top: 5.781vw;
    font-size: 1.875vw;
  }

  .sec04-link .sec04-list li .sec04-txt02 {
    padding-top: 0.781vw;
    font-size: 2.5vw;
    font-weight: 700;
  }

  /* Fith Link Section
======================== */
  .sec05-link {
    padding: 10.313vw 0 12.5vw;
  }

  .sec05-link .sec05-list {
    padding-top: 5.469vw;
  }

  .sec05-link .sec05-list li {
    float: none;
    width: 69.688vw;
    margin: 0 auto;
    margin-bottom: 9.844vw;
  }

  .sec05-link .sec05-list li img {
    width: 12.5vw;
  }

  .sec05-link .sec05-list li:nth-child(3) {
    margin: 0 auto;
  }

  .sec05-link .sec05-desc {
    padding-top: 2.813vw;
    font-size: 2.813vw;
  }

  .sec05-link .sec05-name {
    padding-top: 7.656vw;
    font-size: 3.125vw;
    font-weight: 700;
  }

  .sec05-link .sec05-name::before {
    width: 10.156vw;
    height: 0.625vw;
    top: -2.188vw;
  }

  .sec05-link .sec05-position {
    padding-top: 0.781vw;
  }

  /*Map and Feedback
=================== */
  .sec05-info {
    padding-top: 6.563vw;
  }

  .sec05-info .map-wrapper {
    float: none;
  }

  .sec05-info .map-wrapper iframe {
    margin: 0 auto;
    width: 89.063vw;
    height: 53.594vw;
  }

  .sec05-info .map-wrapper .contact {
    width: 81.875vw;
    bottom: 2.5vw;
    left: 4.688vw;
    right: 4.688vw;
    padding: 3.125vw 2.813vw;
  }

  .contact h6 {
    font-size: 1.875vw;
    text-align: start;
  }

  .contact a {
    font-size: 2.5vw;
    text-align: start;
    padding-top: 0.313vw;
  }

  .sec05-info .contact-left {
    float: left;
    text-align: start;
    width: 37.969vw;
    padding-top: 0.938vw;
  }

  .sec05-info .contact-right {
    float: right;
    text-align: start;
    width: 35.156vw;
  }

  .contact-right .email {
    padding-top: 3.125vw;
    padding-bottom: 3.594vw;
  }

  .feedback-wrapper {
    padding-top: 5.469vw;
    float: none;
    width: 100%;
    text-align: start;
  }

  .feedback-wrapper h4 {
    letter-spacing: 0.094vw;
    font-size: 5.469vw;
  }

  .feedback-wrapper p {
    padding-top: 0.938vw;
  }

  .feedback-wrapper form {
    padding-top: 4.531vw;
  }

  .feedback-wrapper form input,
  .feedback-wrapper form input:focus {
    width: 48.906vw;
    margin-bottom: 5vw;
    padding: 1.25vw 3.125vw;
    font-size: 2.5vw;
    border-radius: 1.25vw;
  }

  .feedback-wrapper form button {
    padding: 1.719vw 0;
    margin-top: -0.781vw;
  }

  /*Footer Section
================= */
  .footer {
    padding: 4.688vw 0 4.063vw;
  }

  .footer .footer-logo {
    width: 36.406vw;
  }

  .footer-logo p {
    font-size: 1.875vw;
    padding-top: 4.688vw;
  }

  .footer .footer-cats {
    width: 47.5vw;
  }

  .footer .cat-item {
    padding-top: 1.563vw;
    width: 21.719vw;
    margin: 0 3.906vw 3.75vw 0;
  }

  .footer .cat-item:nth-child(2n) {
    margin-right: 0;
    width: 21.094vw;
  }

  .footer .cat-item h4 {
    font-size: 3.125vw;
  }

  .footer .cat-item ul li {
    padding-top: 1.25vw;
  }

  .footer .cat-item ul li a {
    font-size: 2.5vw;
  }
}