@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  src: url("../font/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  src: url("../font/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  src: url("../font/IBMPlexSans-Bold.ttf");
}

body {
  background-color: #ffffff;
  color: #141414;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 400;
  max-width: 1920px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  display: block;
  outline: none;
  cursor: pointer;
  color: #141414;
  text-align: center;
  font-weight: bold;
}

a:hover {
  opacity: 0.8;
  transition: 0.8s ease;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

.header-inner {
  position: relative;
  width: 98%;
  margin: 0 auto;
  max-width: 1360px;
}

.sec-inner {
  width: 98%;
  margin: 0 auto;
  max-width: 1110px;
}

.sec-btn {
  background-color: #ff8364;
  width: 140px;
  padding: 10px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  border: 1px solid transparent;
}

.sec-btn:hover {
  background-color: #ffffff;
  color: #ff8364;
  border: 1px solid #ff8364;
}

.sec-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

/*Main Section
================= */

.main-sec {
  position: relative;
  padding: 36px 0 157px;
  background: url("../img/img_main_sec_bg.png") no-repeat center/cover;
}

.main-sec .header-logo {
  width: 209px;
  float: left;
}

.main-sec .g-nav {
  float: right;
  padding-top: 13px;
}

.main-sec .g-nav ul {
  float: left;
}

.main-sec .g-nav ul li {
  float: left;
  margin-right: 60px;
  padding: 8px 0;
}

.main-sec .g-nav .sec-btn {
  float: right;
  width: 120px;
  padding: 8px 0;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-sec .main-content {
  padding-top: 106px;
  text-align: center;
  margin: 0 auto;
}

.main-sec .main-content .main-title {
  padding-top: 35px;
  line-height: 1.2;
  font-size: 64px;
  font-weight: 500;
}

.pc-view {
  display: block;
}

.mb-view {
  display: none;
}

.main-sec .main-content .main-desc {
  padding-top: 6px;
  font-size: 20px;
  line-height: 1.5;
}

.main-sec .main-content a {
  margin: 0 auto;
  margin-top: 26px;
}

/*Second Link Section
======================= */

.sec02-link {
  background-color: #f3f3f3;
  padding: 114px 0 102px;
}

.sec02-link .sec-title {
  text-align: start;
}

.sec02-link .sec02-content .sec02-desc {
  float: left;
  width: 635px;
  padding-top: 33px;
}

.sec02-link .sec02-content .sec02-desc p {
  font-size: 36px;
  line-height: 1.4;
}

.sec02-link .sec02-content img {
  float: right;
  margin-top: -14px;
}

.sec02-link .sec02-content .learn-more {
  padding-top: 33px;
  text-align: start;
}

.sec02-link .sec02-content .learn-more span {
  font-size: 16px;
  color: #ff8364;
  padding-right: 19px;
}

.sec02-link .learn-more::after {
  content: url('../img/img_left_arrow.png');
}

/*Third Link Section
====================== */
.sec03-link {
  padding: 85px 0 0px;
}

.sec03-link .sec03-sub-ttl {
  padding-top: 10px;
  font-size: 25px;
  color: #ff8364;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}


/*======================
    iPad Screen Size
========================= */

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .sec-inner {
    width: 89.583vw;
  }

  .main-sec {
    padding: 4.688vw 0 15.234vw;
  }

  .main-sec .header-logo {
    width: 27.214vw;
  }

  .main-sec .header-inner {
    max-width: 89.583vw;
    width: 100%;
  }

  .main-sec .g-nav {
    float: none;
    padding: 12.5vw 0 4.688vw;
    background-color: rgb(255, 255, 255, 0.8);
    position: fixed;
    top: -127.604vw;
    left: 0;
    right: 0;
  }

  .main-sec .g-nav ul {
    float: none;
  }

  .main-sec .g-nav ul li {
    float: none;
    margin-right: 0;
    padding: 1.042vw 0;
    margin-bottom: 1.693vw;
  }

  .main-sec .g-nav .sec-btn {
    float: none;
    margin: 0 auto;
    margin-top: 2.214vw;
  }

  .main-sec .menu-toggle {
    position: absolute;
    width: 5.599vw;
    height: 4.167vw;
    top: 0.521vw;
    right: -0.182vw;
    cursor: pointer;
  }

  .main-sec .menu-toggle span {
    position: absolute;
    background-color: #141414;
    width: 5.599vw;
    height: 0.391vw;
    transition: 0.8s ease;
  }

  .main-sec .menu-toggle span:nth-child(1) {
    top: 0;
  }

  .main-sec .menu-toggle span:nth-child(2) {
    top: 1.953vw;
    transition: 1.2s ease;
  }

  .main-sec .menu-toggle span:nth-child(3) {
    top: 3.906vw;
  }

  .main-sec .menu-toggle.active {
    transform: rotate(180deg);
    transition: 0.8s ease;
  }

  .main-sec .menu-toggle.active span:nth-child(1) {
    transform: translateY(1.953vw) rotate(-45deg);
  }

  .main-sec .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .main-sec .menu-toggle.active span:nth-child(3) {
    transform: translateY(-1.953vw) rotate(45deg);
  }

  .main-sec .main-content {
    padding-top: 13.802vw;
  }

  .main-sec .main-content .main-title {
    padding-top: 4.557vw;
    font-size: 8.333vw;
  }

  .main-sec .main-content .main-desc {
    padding-top: 0.781vw;
    font-size: 2.604vw;
  }

  .main-sec .main-content a {
    margin-top: 3.385vw;
  }


  /*Second Link Section(iPad-View)
=================================== */

  .sec02-link {
    padding: 10.938vw 0 10.156vw;
  }

  .sec02-link .sec02-content {
    text-align: center;
  }

  .sec02-link .sec02-content .sec02-desc {
    float: none;
    text-align: start;
    width: 82.682vw;
    padding-top: 4.427vw;
  }

  .sec02-link .sec02-content .sec02-desc p {
    font-size: 4.688vw;
    line-height: 1.4;
  }

  .sec02-link .sec02-content img {
    margin-top: 9.245vw;
    float: none;
    width: 72.396vw;
  }


  .sec02-link .sec02-content .learn-more {
    padding-top: 4.167vw;
  }

  .sec02-link .sec02-content .learn-more span {
    font-size: 2.083vw;
    padding-right: 2.474vw;
  }

  /*Third Link Section(iPad View)
================================== */
  .sec03-link {
    height: 82.031vw;
    background-color: #ccc;
  }

  .sec03-link .sec03-sub-ttl {
    padding-top: 1.302vw;
    font-size: 3.255vw;
    letter-spacing: 0.13vw;
  }

}

/*======================
    Mobile Screen Size
========================= */

@media screen and (max-width: 767.9px) {
  .mb-view {
    display: block;
  }

  .sec-inner {
    width: 90.625vw;
  }

  .main-sec {
    padding: 5.625vw 0 14.063vw;
  }

  .main-sec .header-logo {
    width: 32.656vw;
  }

  .main-sec .header-inner {
    max-width: 90.625vw;
    width: 100%;
  }

  .main-sec .g-nav {
    float: none;
    padding: 15vw 0 5.625vw;
    background-color: rgb(255, 255, 255, 0.8);
    position: fixed;
    top: -153.125vw;
    left: 0;
    right: 0;
  }

  .main-sec .g-nav ul {
    float: none;
  }

  .main-sec .g-nav ul li {
    float: none;
    margin-right: 0;
    padding: 1.25vw 0;
    margin-bottom: 2.031vw;
  }

  .main-sec .g-nav .sec-btn {
    float: none;
    margin: 0 auto;
    margin-top: 2.656vw;
  }

  .main-sec .menu-toggle {
    position: absolute;
    width: 6.719vw;
    height: 5.156vw;
    top: 0.625vw;
    right: -0.703vw;
    cursor: pointer;
  }

  .main-sec .menu-toggle span {
    position: absolute;
    background-color: #141414;
    width: 6.719vw;
    height: 0.469vw;
    transition: 0.8s ease;
  }

  .main-sec .menu-toggle span:nth-child(1) {
    top: 0;
  }

  .main-sec .menu-toggle span:nth-child(2) {
    top: 2.344vw;
    transition: 1.2s ease;
  }

  .main-sec .menu-toggle span:nth-child(3) {
    top: 4.688vw;
  }

  .main-sec .menu-toggle.active {
    transform: rotate(180deg);
    transition: 0.8s ease;
  }

  .main-sec .menu-toggle.active span:nth-child(1) {
    transform: translateY(2.344vw) rotate(-45deg);
  }

  .main-sec .menu-toggle.active span:nth-child(2) {
    opacity: 0;
  }

  .main-sec .menu-toggle.active span:nth-child(3) {
    transform: translateY(-2.344vw) rotate(45deg);
  }

  .main-sec .main-content {
    padding-top: 13.281vw;
  }

  .main-sec .main-content .main-title {
    padding-top: 2.813vw;
    font-size: 7.031vw;
    line-height: 1.3;
  }

  .main-sec .main-content .pc-view {
    display: none;
  }

  .main-sec .main-content .main-desc {
    padding-top: 2.5vw;
    font-size: 2.813vw;
    line-height: 1.8;
  }

  .main-sec .main-content .pc-view {
    display: none;
  }

  .main-sec .main-content a {
    margin-top: 2.031vw;
  }

  /*Second Link Section(Mobile-View)
===================================== */


  .sec02-link {
    padding: 6.406vw 0 9.063vw;
  }

  .sec02-link .sec02-content {
    text-align: center;
  }

  .sec02-link .sec02-content .sec02-desc {
    float: none;
    text-align: start;
    width: 90.625vw;
    padding-top: 4.063vw;
  }

  .sec02-link .sec02-content .sec02-desc p {
    font-size: 3.906vw;
    line-height: 2;
  }

  .sec02-link .sec02-content img {
    margin-top: 8.906vw;
    float: none;
    width: 86.875vw;
  }


  .sec02-link .sec02-content .learn-more {
    padding-top: 2.031vw;
  }

  .sec02-link .sec02-content .learn-more span {
    font-size: 2.344vw;
    letter-spacing: 0.156vw;
    padding-right: 2.344vw;
  }

  /*Third Link Section(Mobile View)
=================================== */
  .sec03-link {
    height: 606px;
    background-color: #ccc;
    padding: 66px 0 1px;
  }

  .sec03-link .sec03-sub-ttl {
    padding-top: 20px;
    font-size: 25px;
    letter-spacing: 1px;
  }

}